body {
    /*background: url("/images/body_bg.jpg")  no-repeat top center !important;*/
    /*background-color: #d14b04 !important;*/
}

a {
    color: #333 !important;
    text-decoration: none !important;
}

a:hover {
    color: #d14b04 !important;
    text-decoration: underline; !important;
}

/* 把内容主体改为 1000px */
#container {
    width: 1000px !important;
}

/* 把头部改为 fixed */
#header {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px;
    background-color: #fff;
    padding: 0 !important;
}

#columns {
    margin-top: 50px;
    background-color: rgba(111,42,0,0.25);
}

#navigation li a:hover {
    background: transparent !important;
}

/* 发推 */
#phupdate .textarea-wrapper {
    width: 716px !important;
}
#phupdate .textarea-wrapper textarea {
    width: 706px;
    border-color: #ccc !important;
}

#phupdate .textarea-wrapper textarea:focus {
    border-color: #7dc6dd !important;
}

#phupdate .textarea-wrapper-active {
    width: 716px;
}

#phupdate .textarea-wrapper-active textarea {
    width: 706px;
}

#phupdate .act .actpost {
    position: relative;
    right: -224px;
}

/* 先隐藏这两个图标 */
.upload-button-wrapper {
    display: none;
}

.location-button-wrapper {
    display: none;
}

#phupdate .tip {
    right: -110px !important;
}

.slogan {
    text-indent: 0 !important;
    background: none !important;
}

#phupdate .formbutton {
    border-radius: 2px;
    background: #fff !important;
}

/* 新关注提醒 */
#newsfeed {
    width: 725px!important;
    background-color: #fff;
}

#newsfeed h3 {
    text-indent: 30px;
    line-height: 40px;
}

#newsfeed ul {
    padding-left: 13px;
}

#newsfeed li {
    background: none !important;
}

#newsfeed li a.hide {
    right: 6px !important;
}

#newsfeed p.close {
    right: 5px !important;
    top: 5px !important;
}

/* 新消息提醒 */
#timeline-notification {
    text-align: center;
}

#timeline-notification a {
    font-size: 13px;
}

#timeline-notification a:hover {
    background: #ffc;
}

td#main {
    background: none !important;
}

#stream li, #stream .wa li {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 2px;
}

#stream .wa li {
    width: 602px !important;
    padding: 20px 50px 20px 72px !important;
}

/* 推文内容 */
.solo {
    border-top: none !important;
}
#stream li span.content {
    font-size: 14px;
    line-height: 22px;
}

.light .stamp .reply a {
    font-weight: bold;
    background: transparent !important;
}


/* 微博正文的用户昵称 */
#stream.message li a.author {
    float: inherit !important;
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

#stream.message li a.author:hover {
    color: #d14b04 !important;
    background-color: transparent !important;
}

/* 微博正文的用户头像 */
#stream.message li a.avatar img {
    border-radius: 50%
}

#stream li a.avatar {
    margin-right: 10px;
    margin-left: -42px !important;
}

/* 右侧 */
#sidebar {
    background: transparent !important;
    border-radius: 2px !important;
    border-left: none !important;
}

#goodapp {
    background: #fff !important;
}

#reminder li a {
    border-bottom: none !important;
}

#user_top a img {
    border-radius: 50%;
}

#reminder li a {
    /*color: #d14b04 !important;*/
    background: rgb(143, 180, 180) !important;
}

#reminder li a:hover {
    color: rgba(209, 75, 4, 0.6) !important;
}


#user_stats {
    width: 204px !important;
    background: #fff !important;
    border-radius: 2px;
}

#user_stats a {
    text-align: center;
}

#user_stats a:hover .count{
    color: #d14b04 !important;
}

#user_stats a:hover .label{
    text-decoration: none !important;
}


#user_stats li {
    margin: 0 7px 0 0px !important;
    padding: 0 0px 0 2px !important;
}

#user_stats li:last-child {
    margin-right: 0px !important;
}

a:hover .label {
    border-bottom: none !important;
}

#user_stats .label {
    font-size: 12px;
    color: #919191;
}

/* app 推荐 */
#goodapp {
    border-radius: 2px;
    -webkit-border-radius: 2px !important;
}

/* 消息 */
#sidebar #navtabs {
    width: 204px;
    margin-left: 0;
    background: #fff;
    border-radius: 2px;
}

#navtabs li a {
    font-weight: normal !important;
    color: #333 !important;
}

#navtabs li a:hover {
    color: #d14b04 !important;
}

#sidebar .stabs li.current a {
    font-weight: bold !important;
}

/* 搜索 */
#searchr {
    margin-top: 9px !important;
}

#searchr.current {
    background: transparent !important;
}

#searchr-input {
    height: 18px !important;
    border:  none !important;
    -webkit-border-top-left-radius: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -webkit-border-top-right-radius: none !important;
    -webkit-border-bottom-right-radius: none !important;
}

#searchr-submit {
    border:  none !important;
    border-left: 1px solid #bbb !important;
    background: #fff !important;
    -webkit-border-top-left-radius: none !important;
    -webkit-border-bottom-left-radius: none !important;
    -webkit-border-top-right-radius: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
}

/* 热门话题 */
#trendtabs {
    width: 204px;
    background: #fff;
    border-radius: 2px;
}

#sidebar .stabs {
    margin-left: 0 !important;
}

#sidebar .colltab h2 {
    padding: 5px 0;
    border-bottom: 1px solid #f1d1d1;
    margin-left: 0 !important;
    text-indent: 15px;
}

#sidebar .colltab b {
    top: 9px !important;
}

/* 关注的人 */
#friends {
    width: 204px !important;
    background: #fff;
    border-radius: 2px;
    padding-bottom: 10px;
}

.alist li {
    float: inherit !important;
    text-indent: 15px;
    margin-bottom: 10px !important;
}

.alist li a {
    color: #333;
    float: inherit !important;
}

.alist li a:hover {
    color: #d14b04 !important;
}

/* 关注的人的头像 */
.alist li a img {
    border-radius: 50%;
    margin-right: 5px;
}

/* 关注的人的昵称 */
.alist li a span {
    display: inline !important;
}

/* 邀请朋友加入 */
#sidebar .sect {
    width: 204px;
    border-top: none !important;
    margin-left: 0 !important;
    background: #fff;
    border-radius: 2px;
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

#sidebar .sect h2 {
    text-indent: 15px;
}

#sidebar .sect textarea {
    resize: none;
    border: 1px solid #bbb;
    width: 160px !important;
}

#sidebar .sect p {
    margin-left: 15px;
    margin-right: 15px;
}

/* 更多和回到顶部 */
.pagination .more-left {
    width: 628px !important;
    background: #fff !important;
    border-radius: 2px !important;
}

.pagination .more {
    background: #fff !important;
    border-radius: 2px !important;
}

/* 底部 */
.ui-roundedbox-corner {
    background: #fff !important;
    border-radius: 2px !important;
}

#footer .ui-roundedbox-content {
    width: 995px !important;
}
